.producto {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    border: solid 1px black;
}


.nombreProducto {
    font-family: Montserrat;
    padding-top: 15px;
}

.precioProducto {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 20px;
}

.btnAddToCart {
    background-color: black;
    border: solid 1px black;
    color: white;
    font-family: Montserrat;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    text-decoration: none;

}

.tarjetaProducto {
    border: 1px solid black;
    padding-bottom: 20px;
}